body{
  background-image: url("bg1.jpg");
  background-position: right;
  margin-top: -30px;
}

#header{
  font-size: 70px;
  float: left;
  text-align: justify;
  padding: 10px 30px;
  color: black;
  line-height: 0.9;
}

#bginfo{
  padding-top: 50px;
  padding-right: 15px;
  color: black;
  font-size: 18px;
  font-family: verdana;
  line-height: 1.65;
}

a:link{
  text-decoration: none;
  color: mediumvioletred;
}

a:hover{
  color: rosybrown;
}

a:visited{
  color: mediumvioletred;
}

#nav1{
  height: 60px;
  padding-top: 40px;
  margin-left: 310px;
}

#nav2{
  height: 60px;
  padding-right: 40px;
  margin-left: 310px;
  margin-bottom: 20px;
}

#home{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 70px;
  margin-right: 20px;
}

#about{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 70px;
  margin-right: 20px;
}

#apply{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 72px;
  margin-right: 20px;
}

#exhibitions{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 52px;
  margin-right: 20px;
}

#publications{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 48px;
  margin-right: 20px;
}

#news{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 70px;
  margin-right: 20px;
}

#events{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 70px;
  margin-right: 20px;
}

#quicklinks{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  font-family: 'Trebuchet Ms';
  padding: 6px 52px;
  margin-right: 20px;
}

#OnThisPage{
  font-size: 25px;
  text-align: center;
}

#Link1{
  padding-left: 283px;
}

#Link2{
  padding-left: 60px;
}

#Link3{
  padding-left: 60px;
}

#Link1, #Link2, #Link3{
  font-family: 'Trebuchet MS';
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#Link1, #Link2, #Link3, #Contact, #Accessibility:link{
  color: teal;
}

#Link1, #Link2, #Link3, #Contact, #Accessibility:hover{
  color: darkslategray;
}

#Link1, #Link2, #Link3, #Contact, #Accessibility:visited{
  color: teal;
}

.socialmedia{
  width: 40px;
  height: 40px;
}

#youtube{
  width: 45px;
  height: 45px;
}

#icons{
  margin-top: 40px;
  float: right;
}

#Contact{
  clear: both;
  float: right;
}

#Accessibility{
  float: right;
  clear: both;
}
